td {
    padding: 10px !important;
    position: relative;
    height: 30vh;
    width: 40vw;
    line-height: 1.8em;
    overflow: hidden;
    text-overflow: ellipsis;
}

td::after {
    content: "...";
    position: absolute;
    bottom: 0;
    right: 0;
    padding-left: 5px;
}